body{
  text-align:center; 
  background-color:rgb(245, 234, 152); 
  font-family:sans-serif;
}
  /*use a light yellow background color*/
  .golden-hr{ 
    color:rgb(196, 171, 10);
}
   .body{
              text-align:left;
              padding:5%;
          }
          .center{
              text-align:center;
          }
code{font-family: 'Source Code Pro', monospace;}
