/* This CSS is used in the homepage for the RandomCSS repo
https://leia286.github.io/CSS-Home.html
It's dependent on Bootstrap CSS for the nav bar and 90% of the rest of the code (don't quote me on that number, I didn't do the math), but here's the rest of the code
*/
          body{background-color:black;
              color:white;
font-family:sans-serif;}
          .body{
              text-align:left;
              padding:5%;
          }
          .center{
              text-align:center;
          }
