/* This CSS is used in the homepage for the RandomCSS repo
https://leia286.github.io/CSS-Home.html
The homepage is dependent on Bootstrap CSS for the nav bar and 90% of the rest of the code (don't quote me on that number, I didn't do the math), but here's the rest of the code, that's not Bootstrap.
*/
          body{background-color:black;
              color:white;
font-family:sans-serif;}
          .body{
              text-align:left;
              padding:5%;
          }
          .center{
              text-align:center;
          }
code{font-family: 'Source Code Pro', monospace; color:white; background-color: rgb(92, 91, 88);}
h1,small{font-family: 'Roboto', sans-serif;}
/*Just incase you need monospace and not a code tag*/
.mono{
  font-family: 'Source Code Pro', monospace;
}
.serif{
          font-family:serif;
}
